.titleSection {
	background-color: grey;
	padding: 5%;
	align-items: center;
	height: 100vh;
}

.titleText {
	/* padding: 5px; */
}

.titleHeading {
	font-weight: 500;
	/* font-size: 2rem; */
}

.titleParagraph {
	font-size: 3rem;
}

.titleImageSec {
}

.titleImg {
	border-radius: 100%;
	border: 5px solid blue;
	background-color: rgb(32, 223, 230);
}

/* Benifits Section */

.sectionTitle {
	text-align: center;
	padding: 5% 0 1% 0;
}

.benifitsSection {
}

.item {
	margin: 2rem auto;
}

/* Temp */

.pl3 {
	background-color: blueviolet;
}
