@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&family=Roboto&display=swap');

.titleSection {
	background-color: rgb(158, 236, 255);
	padding: 5%;
	align-items: center;
	height: calc(100vh - 56px);
	margin: 0 !important;
	font-family: 'Overpass', sans-serif;
}

.titleText {
	/* padding: 5px; */
}

.titleHeading {
	font-weight: 500;
	/* font-size: 2rem; */
}

.titleParagraph {
	font-size: 3rem;
}

.titleImageSec {
}

.titleImg {
	border-radius: 100%;
	border: 5px solid blue;
	background-color: rgb(32, 223, 230);
}

/* Benifits Section */

.sectionTitle {
	text-align: center;
	padding: 5% 0 1% 0;
}

.benRow {
	margin: 0 !important;
}

.benifitsSection {
	font-family: 'Roboto', sans-serif;
}

.item {
	margin: 2rem auto;
}

/* Temp */

.pl3 {
	background-color: blueviolet;
}
